<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
<style>
.img-max-dimension {
    max-width: 50mm;
}
.page {
    width: 210mm;
    min-height: 297mm;
    margin: 0 auto;
    padding: 15mm; /* Adjust as needed */
    box-sizing: border-box;
    /* page-break-after: always; */
}
.table td {
    word-wrap: break-word; /* Allows long words to be able to break and wrap onto the next line */
    overflow-wrap: break-word; /* Breaks the word at the boundary of the container */
}
</style>
</head>
<body>
<div>
  {% for order in orders %}
    <div class="page" style="{{ not loop.last ? 'page-break-after: always;' : '' }}">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        {% if logo %}
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive img-max-dimension" />
        {% else %}
          <h1>{{ name }}</h1>
        {% endif %}
        <br />
        <address>
        <strong>{{ order.store_name }}</strong><br />
        {{ order.store_address }}
        </address>
        <b>{{ text_telephone }}</b> {{ order.store_telephone }}<br />
        <b>{{ text_email }}</b> {{ order.store_email }}<br />
        <b>{{ text_website }}</b> {{ order.store_url }}<br />
        <b>ABN: </b> {{ order.store_abn }}<br />
        <br />
      </div>
      <div class="col-sm-6 col-md-4">
      <table class="table table-bordered">
        <thead>
            {% if order.order_status == "Quote" %}
            <tr>
                <td class="text-center text-uppercase"><strong>Quote</strong></td>
            </tr>
            {% else %}
            <tr>
                <td class="text-center text-uppercase"><strong>{{ text_invoice }}</strong></td>
            </tr>
            {% endif %}
        </thead>
      </table>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td style="width: 40%;"><b>{{ text_date_added }}</b></td>
            <td style="width: 60%;">{{ order.date_added }}</td>
          </tr>
          <tr>
            <td style="width: 40%;"><b>{{ text_order_id }}</b></td>
            <td style="width: 60%;">{{ order.order_id }}</td>
          </tr>
          {% if order.order_status != "Quote" %}
            <tr>
                <td style="width: 40%;"><b>{{ text_payment_method }}</b></td>
                <td style="width: 60%;">{{ order.payment_method }}</td>
            </tr>
            <tr>
                <td style="width: 40%;"><b>{{ text_date_payment_due }}</b></td>
                <td style="width: 60%;">{{ order.date_payment_due }}</td>
            </tr>
          {% endif %}
          {% if order.shipping_method %}
          <tr>
            <td style="width: 40%;"><b>{{ text_shipping_method }}</b></td>
            <td style="width: 60%;">{{ order.shipping_method }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td style="width: 50%;"><b>{{ text_payment_address }}</b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><address>
              {{ order.payment_address }}
              </address></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td style="width: 50%;"><b>{{ text_shipping_address }}</b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><address>
              {{ order.shipping_address }}
              </address></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="text-right"><b>{{ column_quantity }}</b></td>
          <td><b>{{ column_model }}</b></td>
          <td><b>{{ column_product }}</b></td>
          <td class="text-right"><b>{{ column_price }}</b></td>
          <td class="text-right"><b>{{ column_total }}</b></td>
        </tr>
      </thead>
      <tbody>
        {% for product in order.product %}
        <tr>
          <td class="text-right">{{ product.quantity }}</td>
          <td>{{ product.model }}</td>
          <td>{{ product.name }}
            {% for option in product.option %}
            <br />
            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
            {% endfor %}</td>
          <td class="text-right">{{ product.price }}</td>
          <td class="text-right">{{ product.total }}</td>
        </tr>
        {% endfor %}
        {% for voucher in order.voucher %}
        <tr>
          <td>{{ voucher.description }}</td>
          <td></td>
          <td class="text-right">1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-right">{{ voucher.amount }}</td>
        </tr>
        {% endfor %}
        {% for total in order.total %}
        <tr>
          <td class="text-right" colspan="4"><b>{{ total.title }}</b></td>
          <td class="text-right">{{ total.text }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if order.comment %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ text_comment }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.comment }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
  {% endfor %}
</div>
</body>
</html>
